:root {
  --dark-purple: #231d27;
  --light-aqua: #1b959e;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #c4c4c4;
  margin: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--dark-purple);
  align-items: center;
  width: 100vw;
  height: 8vh;
}

header {
  position: relative;
}

.subtitle {
  position: absolute;
  font-size: 2rem;
  top: 210px;
  right: 100px;
  font-weight: bold;
  color: var(--light-aqua);
  padding: 10px;
  background-color: var(--dark-purple);
}

.header-img {
  background-color: aquamarine;
  height: 22vh;
  width: 100vw;
  background-image: url(../images/bluesky.jpg);
  background-position: bottom;
  background-size: cover;
}

h1 {
  font-size: 4.5rem;
  padding: 0 2vw;
  color: var(--dark-purple);
  background-color: var(--light-aqua);
  /* width: auto; */
}

.information {
  text-align: right;
}

.information li {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0.7vw;
  padding: 10px;
}

a {
  color: var(--light-aqua);
  text-decoration: underline solid var(--light-aqua) 5px;
  padding: 10px;
}

.information a:hover {
  color: var(--dark-purple);
  transition: all 400ms ease-in;
  background-color: var(--light-aqua);
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  justify-content: center;
  max-width: 80vw;
}

section,
footer {
  /* margin: 20px; */
  border: 2px solid red;
  /* max-width: 100%; */
}

.section-one {
  height: auto;
}

.section-two {
  height: auto;
}

.footer {
  height: auto;
}

.section-one,
.section-two,
.multiple,
.footer {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 20px auto;
  justify-content: center;
}

h2 {
  font-size: 3rem;
  display: block;
  width: 30%;
  color: var(--dark-purple);
  border-right: 4px solid var(--dark-purple);
  text-align: right;
  /* line-height: auto; */
}
.about-me {
  font-size: 20px;
  line-height: 1.4;
  margin-left: 10px;
  width: 60%;
  padding: 20px;
  color: var(--dark-purple);
}

.work-section {
  width: 60%;
  padding: 10px;
}

.product-one {
  height: 500px;
  width: 800px;
  background-color: blueviolet;
  background-image: url(../images/product-one.jpg);
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  /* flex: 1 0 100%; */
  padding: 20px;
}

.multiple {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10px;
  height: 500px;
  width: 800px;
}

.product-one,
.product-two,
.product-three,
.product-four,
.product-five {
  border: 4px solid #2df7f7;
}

.product-two {
  background-color: blueviolet;
  background-image: url(../images/product-two.jpg);
  background-position: center;
  background-size: cover;
  height: 230px;
  width: 375px;
}

.product-three {
  background-color: blueviolet;
  background-image: url(../images/product-three.jpg);
  background-position: center;
  background-size: cover;
  height: 230px;
  width: 375px;
}

.product-four {
  background-color: blueviolet;
  background-image: url(../images/product-four.jpg);
  background-position: center;
  background-size: cover;
  height: 230px;
  width: 375px;
}

.product-five {
  background-color: blueviolet;
  background-image: url(../images/product-five.jpg);
  background-position: top;
  background-size: cover;
  height: 230px;
  width: 375px;
}

.footer-ul {
  width: 60%;
  font-size: 16px;
  justify-content: space-between;
}

.footer-ul li {
  display: inline-block;
  padding: 10px;
}
